@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Benvenuto su LETSGO</h1>
    <p>Trova la tua prossima meta in un click 😉</p>
</div>
